main{
    display: flex;
    flex-direction: column;
    gap:30px;
}

section#empresa-introducao{ 
    background-image:url("https://static.wixstatic.com/media/a4194e_03f7c49d3f3a4dfca3dec8fb17ab10ee~mv2.png/v1/fill/w_754,h_424,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Design%20sem%20nome.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    color:var(--color2);
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: center;
    gap:10px;
}

article.empresa-card{
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
    border: solid;
    text-align: center;
    padding:10px;
    margin:10px;
}

img.empresa_card_imagem{
    max-width: 100px;
	max-height: 100px;
}

section#empresa_corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

article#empresa_corpo_introducao{
    display: flex;
    justify-content: center;
    align-items: center;
}

figure#empresa_corpo_imagem img{
    width:30vw;
}

div#empresa_corpo_quem_somos h2{
    font-size: 2.5vw;
}

hr{
    border: none;
    height: 6px;
    background: var(--color1);
    width: 100%;
    text-align:center;
    margin:0px auto;
    box-shadow: 10px 5px 5px var(--color4);
 }
 
p#empresa_corpo_paragrafo{
    width: 60%;
    font-size: 1.5vw;
    text-align: justify;
    text-indent: 5vw;
}

article#secao_escolha{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

figure#secao_figure img{
    width:40vw;
    border:3px solid var(--color1);
}

div#secao_escolha_texto{
    border:3px double var(--color1);
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#secao_escolha_texto h2{
    font-size: 2.5vw;
    text-align: center;
}

span{
    color: var(--color5);
    }

p#secao_escolha_paragrafo{
    font-size: 1.5vw;
    text-indent: 5vw;
    text-align: justify;
    padding:10px;
}

section#clientes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
}

div#clientes_titulo h2{
    color:var(--color1);
    font-size: 2.5vw;
}

article#clientes_slide{
    display: flex;
    justify-content: center;
    align-items: center;
    border:3px solid var(--color1);
    border-radius:45px;
    width: 80%;
}

/* Slideshow container */
div#slideshow-container {
    max-width: auto;
    position: relative;
    margin: 20px;
    display: flex;
    justify-content: center;
}

/* Hide the images by default */
img.mySlides {
	max-height: auto;
    width:50vw;
}

/* Fading animation */
.fade {
  animation-name: fade 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media (max-width:768px) {
    section#empresa-introducao{ 
        grid-template-columns: repeat(1,90%);
    }

    figure#empresa_corpo_imagem img{
        width:50vw;
    }

    div#empresa_corpo_quem_somos h2{
        font-size: 5vw;
    }

    p#empresa_corpo_paragrafo{
        font-size: 2.5vw;
    }

    article#secao_escolha{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    figure#secao_figure img{
        width:90vw;
    }

    div#secao_escolha_texto{
        width:90vw;
    }

    div#secao_escolha_texto h2{
        font-size: 5vw;
    }

    p#secao_escolha_paragrafo{
        font-size:2.5vw;
    }

    div#clientes_titulo h2{
        font-size: 5vw;
    }
}


