:root{
    --color1: #AD0500;
    --color2: #ffffff;
    --color3: #808080;
    --color4: #000000;
    --color5: #FF0000;
    
    --fontdefault: 'Times New Roman', Times, serif;
    --font1: Georgia, 'Times New Roman', Times, serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    }

input, button, select{
    font-family: var(--fontdefault);
}

body{
    width:100%;
    max-width: 100vw;
    font-family: var(--font1);
}

header#cabecalho{
    display: flex;
    align-items: center;
    background-color: var(--color1);
    justify-content: space-between;
    text-align: center;
    position: sticky;
    width:100%;
    z-index: 100;
    top:0;
}

a{
    text-decoration: none;
}

figure#cabecalho-figura{
    display: flex;
    align-items: center;
    margin: 5px 10px;
    gap:10px;
}

img#cabecalho-imagem{
    width:9%;
}

figcaption#cabecalho-caption{
    font-size: 1.2rem;
}

figcaption#cabecalho-caption a{
    color: var(--color2);
}

input#navopen, input#navclose{
    display: none;
}

ul#cabecalho-navegacao{
    justify-content: end;
    display: flex;
    gap:30px;
    font-size: 1.2rem;
    list-style: none;
}

ul#cabecalho-navegacao:last-child{
    margin:0 50px 0 0;
}

li.paginas-navegacao a{
    color: var(--color2);
    transition: .5s all;
}

li.paginas-navegacao a:hover{
    opacity:0.5;
}


/*=============================== RODAPÉ ===============================*/
footer#rodape{
    background-image: url("https://static.wixstatic.com/media/a4194e_eb262e04bcc24f61b08c6b4dee3cb504~mv2.gif");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    color:var(--color2);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }

section#redes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:50px;
    width:30%;
}

div.circle{
    width:80px;
    height:80px;
    background-color: var(--color1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

div.circle:hover{
    background-color: var(--color2);
    filter: drop-shadow(1px 1px 10px var(--color2));
}

div.circle:hover i{
    color:var(--color1);
}

article.rede-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}

i.bi{
    font-size: 3rem;
    color: var(--color2);
}

p#direitos{
    color:var(--color3);
}


section#logo{
    width:30%;
}

img#logo-imagem{
    width:100%;
}

h1.titulo-menu{
    font-size: 1.8rem;
}

section#localizacao{
    width:30%;
    display: flex;
    flex-direction: column;
    gap:30px;
}

article#localizacao-one{
    display: flex;
    flex-direction: column;
    gap:15px;
}

p#localizacao-one-pgr{
    color: var(--color3);
}

article#servico{
    display: flex;
    flex-direction: column;
    gap:15px;
}

article#servico p{
    font-size: 3.1rem;
    font-weight: bolder;
}

@media (max-width:1024px){
    div.circle{
        width:50px;
        height:50px;
        background-color: var(--color1);
    }

    i.bi{
        font-size: 2rem;
        color: var(--color2);
    }
    
    article#servico h1{
        font-size: 0.8rem;
    }
    
    article#servico p{
        font-size: 2rem;
        font-weight: bolder;
    }
}

@media (max-width:768px) {
    nav#navegacao{
        display: none;
        position:absolute;
        width:50%;
        top:0px;
        right:0px;
        text-align: center;
        height: 100vh; 
        background-color: var(--color1);
        box-shadow: 1px 1px 10px rgb(0,0,0);
        text-align: left;
        animation: fade 1s linear; 
    }

    @keyframes fade {
        from{
            transform:translateX(10rem);
            opacity:0;
        }
        to{
            transform:translateX(0);
            opacity:1;
        } 
    }

    input#navopen{
        display: block;
        border:none;
        background-color: inherit;
        font-size: 2rem;
        margin-right:10px;
        color:var(--color2);
        cursor: pointer;
        transition: .5s all;
    }

    input#navclose{
        display: block;
        border:none;
        background-color: inherit;
        font-size: 3rem;
        color: var(--color2);
        cursor: pointer;
        position: absolute;
        right:0;
        margin: 10px;
        transition: .5s all;
    }

    input#navopen:hover, input#navclose:hover{
        color: var(--color3);
       }

    ul#cabecalho-navegacao:last-child{
        position:relative;
        flex-direction: column;
        gap:5px;
        margin:75px 0 0 30px;
        list-style:outside;
        color:var(--color2);
    }
    /*=================Rodapé @Media===================*/

    footer#rodape{
        flex-direction: column-reverse;
        gap:20px;
    }

    section#redes, section#localizacao{
        width:100%;
    }

    i.bi{
        font-size: 2rem;
        color: var(--color2);
    }
    
    article#servico p{
        font-size: 3.1rem;
        font-weight: bolder;
    }
}

@media (max-width:425px){
    nav#navegacao{
        width:70%;
    }

    section#logo{
        width:50%;
    }

    article#servico h1{
        font-size: 0.8rem;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    article#servico p{
        font-size: 2.5rem;
    }
}
