h1{
text-align: center;
padding: 10px;
}

h2.Produtos_RM{
    padding: 30px;
    background: linear-gradient(var(--color5), var(--color1));
    color:var(--color2);
}

article#Produtos_Plataformas_Esteiras{
    display: grid ;
    grid-template-columns:  repeat(3,30%);
    justify-content: center;
    margin:20px auto;
}

figure.Plataformas_Esteiras{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(10, 10, 10, 0.1), 0 6px 20px 0 rgba(10, 10, 10, 0.1); 
    gap:20px;
    padding:20px;
    margin:5px;
    text-align: center;
}

figure.Plataformas_Esteiras:hover{
    animation: mymove 1s infinite reverse;
    }
    
@keyframes mymove{
    50%   {
        box-shadow: 0 4px 8px 1px var(--color1), 0 6px 20px 1px var(--color1);
    }
    75%  {
        box-shadow: 0 4px 8px 1px var(--color5), 0 6px 20px 1px var(--color5);
    }
}

img.Plataformas_Esteiras_Imagens{
    width:20vw;
}

figurecaption.Plataformas_Esteiras_Descricao{
    font-weight: bold;
    font-size: 1.5vw;
}

input.Plataformas_Esteiras_Button{
    font-size: 2vw;
    padding: 7px 20px;
    margin: 2px;
    background-color: var(--color4);
    color:var(--color2);
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

input.Plataformas_Esteiras_Button:hover{
    background: linear-gradient(var(--color5), var(--color1));
    animation: botao 1s ease infinite;
}

@keyframes botao{
    from {
        background: linear-gradient(var(--color5), var(--color1));
    }
    to {
        box-shadow: 0px 4px 50px 10px var(--color1),0px 4px 50px 10px var(--color1);
    }
    }
    
@keyframes hvr-bob-float {
    100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    }
}
    
    
.Plataformas_Esteiras_Imagens:hover, .Plataformas_Imagens:focus, .Plataformas_Imagens:active {
    animation-name: hvr-bob-float, hvr-bob;
    animation-duration: .3s, 1.5s;
    animation-delay: 0s, .3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;
}


@media (max-width:768px) {
    article#Produtos_Plataformas_Esteiras{
        grid-template-columns:  repeat(2,40%);
    }

    figurecaption.Plataformas_Esteiras_Descricao{
        font-size: 2.5vw;
    }
}

@media (max-width:425px){
    article#Produtos_Plataformas_Esteiras{
        grid-template-columns:  repeat(1,90%);
    }

    img.Plataformas_Esteiras_Imagens{
        width:30vw;
    }

    figurecaption.Plataformas_Esteiras_Descricao{
        font-size: 4vw;
    }

    input.Plataformas_Esteiras_Button{
        font-size: 4vw;
    }
}

