/*========== BOTÃO SAGA SENAI INOVAÇÃO ==========*/

aside#SSI2023{
    display: flex;
    justify-content: center;
    align-items: center;
}

aside#SSI2023 > a{
    background-color: var(--color4);
    padding:10px;
    margin:20px auto;
    border-radius:60px;
    color: var(--color2);
    animation: blumer .5s alternate infinite;
    transition:1s all;
}

@keyframes blumer {
    0%{
        filter: drop-shadow(1px 1px 10px var(--color1));
    }
    100%{
        filter:drop-shadow(1px 1px 20px var(--color1));
    }
}

aside#SSI2023 > a:hover{
    background-color: var(--color1);
    color: var(--color2);
    animation: blumertwo .5s alternate infinite;
}

@keyframes blumertwo {
    0%{
        filter: drop-shadow(1px 1px 10px var(--color4));
    }
    100%{
        filter:drop-shadow(1px 1px 20px var(--color4));
    }
}

/*========== INTRODUÇÃO ==========*/
section#introducao{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin:0px auto;
    flex-wrap: wrap;
}

article#introducao-descricao{
    width:35%;
    font-size: 1.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    line-height: 1.5em;
    text-indent: 5vw;
}

div#introducao-video{
   width:60%;
   display: flex;
   justify-content: center;
   align-items: center;
}

iframe#introducao-video-IA{
    width:90%;
    box-shadow: 20px 20px 20px rgb(0, 0, 0);
    border-radius: 20px;
}

/*========== Meio da Página ==========*/

section#pitch{
    text-align: center;
    background: url('/assets/rm_elevator.webp') center no-repeat;
    background-size: cover;
    position: relative;
    padding: 0px 0 50px 0;
    border-radius: 20px;
}

section#pitch::after{
    content: "";
    background-color:  rgba(0,0,0,0.5);
    width:100%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index: 1;
    border-radius: 20px;
}

h2#pitch-titulo{
    width:100%;
    z-index: 2;
    position: relative;
    color: var(--color4);
    text-shadow: 3px 3px 20px var(--color4);
}

span#pitch-RM{
    color:var(--color5);
}

div#pitch-video{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width:100%;
}

iframe#pitch-video-RM{
    width:70%;
    box-shadow: 20px 20px 20px rgb(0, 0, 0);
    border-radius: 20px;
    z-index: 2;
}

hr{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    background-color: var(--color1);
    height:10px;
    border-radius:10px;
    border: none;
    margin: 100px auto;
}

section#prototipo{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#prototipo-video{
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe#prototipo-video-Prt{
    width:90%;
    box-shadow: 20px 20px 20px rgb(0, 0, 0);
    border-radius: 20px;
}

article#prototipo-descricao{
    display: flex;
    justify-content: center;
    align-items: center;
    width:35%;
    text-align: justify;
    text-indent: 5vw;
    font-size: 1.15rem;
    line-height: 1.5rem;
    border:3px double var(--color5);
    border-radius:20px;
    padding:5px;
}

span#descricao-RM{
    color:var(--color1);
}

span#descricao-Elevator{
    color:var(--color4);
    font-weight: bold;
    font-style: italic;
}

h2#prototipo-sujo-titulo{
    text-align: center;
}

article#prototipo-sujo-corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.bi-arrow-repeat{
    font-size: 3rem;
    animation:arrow 3s linear infinite;
    color: var(--color5);
}

@keyframes arrow {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
        color: var(--color1);
        filter: drop-shadow(1px 1px 10px var(--color1));
    }
    100%{
        transform: rotate(360deg);
    }
}

picture.prototipo-picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.prototipo-imagens {
    width:80%;
    border-radius: 0 20px 0 20px;
    border:1px solid var(--color4);
    box-shadow: 20px 20px 20px rgb(0, 0, 0);
}

figcaption.prototipo-figcaption {
    color:var(--color2);
    background-color: var(--color1);
    border-radius: 20px;
    padding:5px;
    margin:5px auto;
    width:30%;
    text-align: center;
    font-size: 1.5rem;
}

section#conclusao{
    text-align: center;
}

div#conclusao-musica{
    margin:50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    color: var(--color5);
}

videotext{
    font-size: 1.3rem;
    font-family:cursive;
}

video#conclusao-video{
    width:50%;
    box-shadow: 20px 20px 20px rgb(0, 0, 0);
    border-radius: 20px 0 20px 0px;
    border:1px solid var(--color4);
 
}

article#conclusao-grupo{
    display: flex;
    justify-content: center;
    align-items: center;
}

img.conclusao-imagens{
    width:80%;
    border-radius: 0 20px 0 20px;
    border:1px solid var(--color4);
    box-shadow: 20px 20px 20px rgb(0, 0, 0);
    transition: 1s all;
    cursor:pointer;
}

img.conclusao-imagens:hover{
    transform: scale(1.05,1.05);
}

/*============RODAPÉ================*/
section#rodape-outros{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    gap:10px;
}

a.box{
    width:20%;
    height:30%;
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap:30px;
    background-color: var(--color3);
    transform: rotate(-45deg);
    border-radius: 10px 0 10px 0;
    transition:.5s all;
    color: var(--color2);
    text-align: center;
}

a.box:hover {
    background-color: var(--color1);
    color:var(--color2);
    transform: rotate(0deg);
    filter: drop-shadow(1px 1px 10px var(--color1));
}

a.box:hover i{
    color:var(--color2);
}

a.box h3{
    font-size: 0.95rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-filetype-pdf, .bi-link-45deg, .bi-youtube, .bi-instagram{
    font-size: 3rem;
    color:var(--color2);
    transition: .5s all;
}

section#Copyright{
    margin-top: 60px;
    text-align: center;
    padding:10px;
    font-size: 1.25rem;
    background-color: var(--color1);
    
}

@media (max-width:1024px) {
    article#introducao-descricao, article#prototipo-descricao, figcaption.prototipo-figcaption{
        font-size: 1rem;
    }   
    section#introducao, section#prototipo, section#prototipo-sujo, article#prototipo-sujo-corpo{
        height:auto;
    }
}

@media (max-width:768px) {
    section#introducao{
        display: flex;
        flex-direction: column-reverse;
        margin:0 auto 100px auto;
        gap:50px;
    }

    article#introducao-descricao{
        width:80%;
        font-size: 1.2rem;
    }

    div#introducao-video{
        width:80%;
    }

    iframe#pitch-video-RM{
        width:90%;
    }

    section#prototipo{
        flex-direction: column;
        gap:30px;
    }

    div#prototipo-video{
        width:100%;
    }

    article#prototipo-descricao{
        width:86%;
        font-size: 1.2rem;
        word-spacing: 0.3rem;
        text-align: justify;
        text-indent: 5rem;
    }
    figcaption.prototipo-figcaption{
        width:40%;
    }

    video#conclusao-video{
        width:85%;
    }

    article#conclusao-grupo{
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }

    picture.conclusao-picture:nth-child(2){
        width:100%;
        order:1;
    }
    
    picture.conclusao-picture{
        width:50%;
        padding-bottom: 70px;
    }

    section#rodape-outros{
        flex-wrap: wrap;
    }
    a.box{
    width:17%;
    height:29%;
    flex-wrap: wrap;
    }

    .bi-filetype-pdf, .bi-link-45deg, .bi-youtube, .bi-instagram{
        font-size: 2rem;
        color:var(--color2);
        transition: .5s all;
    }

    a.box h3{
        font-size: 0.7rem;
        flex-wrap: wrap;
    }
}

@media (max-width:540px) {
    h1#titulo-portfolio{
        font-size: 1.4rem;
        color:var(--color2);
    }

    h2#pitch-titulo, h2#prototipo-sujo-titulo,h2#conclusao-titulo{
        font-size: 2.5rem;
        margin:50px auto;
    }

    iframe#introducao-video-IA{
        height:250px;
        width:400px;
    }

    article#prototipo-sujo-corpo{
        flex-direction: column;
        height:auto;
    }

    section#rodape-outros{
        height:auto;
        
    }

    a.box{
        width:160px;
        height:160px;
        gap:10px;
        flex-wrap: wrap;
    }

    .bi-filetype-pdf, .bi-link-45deg, .bi-youtube, .bi-instagram{
        font-size: 2rem;
        color:var(--color2);
        transition: .5s all;
    }

    a.box h3{
        font-size: 0.7rem;
    }
}

@media (max-width:425px) {
    h1#titulo-portfolio{
        font-size: 1.1rem;
        color:var(--color2);
    }

    article#conclusao-grupo{
        flex-direction: column;
    }

    picture.conclusao-picture{
        width:100%;
        order:1;
    }


    .bi-filetype-pdf, .bi-link-45deg, .bi-youtube, .bi-instagram{
        font-size: 2.5rem;
        color:var(--color2);
        transition: .5s all;
    }

    a.box{
        transform: rotate(0deg);
    }

    a.box h3{
        font-size: 0.8rem;
        flex-wrap: wrap;
    } 

    a.box{
        width:140px;
        height:140px;
        flex-wrap: wrap;
        gap:10px;
    }

    .bi-filetype-pdf, .bi-link-45deg, .bi-youtube, .bi-instagram{
        font-size: 2rem;
        color:var(--color2);
        transition: .5s all;
    }

    a.box h3{
        font-size: 0.7rem;
        flex-wrap: wrap;
    }
}
